body {
    min-height: 100vh;

    font-family: "Poppins", sans-serif;

    /* Background pink tetap */
    background: linear-gradient(
        135deg,
        #ffd1e3,
        #f8a8c8,
        #ffc4dc
    );

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 30px 15px;

    position: relative;

    overflow: hidden;
}